@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.jumbotron { 
    padding: 30px; /* fills out the jumbotron */
    /* background-color: #111; */
    background-color: #E9ECEF;
    margin: 5px 30px;
    border-radius: 10px;
  }
  
  .container {
    width: 1170px; /* specify a width */
    margin: 0 auto;  /* centers the container */
    padding: 0 15px; /* adds some padding to the left and right*/
  }
  .container > h1 {
    padding: 10px;
  }
  .container > h2{
    padding: 10px;
  }
  
  .jumbotron .container { 
    max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
    background-color: #839D90;
    border-radius: 10px;
    
  }
  
  .jumbotron h1 { 
    text-align: center; /* centers the heading */
    color: #DDD;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}